<ul>
  <li>{{link-to "react" "org.repos.issues" "react"}}</li>
  <li>{{link-to "react-native" "org.repos.issues" "react-native"}}</li>
  <li>{{link-to "watchman" "org.repos.issues" "watchman"}}</li>
</ul>

{{outlet}}